In [2]:
#Print the first 10 natural numbers using for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
#Print the first 10 even natural number
n = 10
for i in range(n):
    if i%2==0: 
        print(i)

0
2
4
6
8

In [12]:
#Print the sum of all numbers from 1 to given num
num=10
a=0
for i in range(1,num):
    a=a+i
    print(a)

1
3
6
10
15
21
28
36
45

In [19]:
#print the sum of all the odd numbers within the given range
num=10
sum=0
for i in range(1,num):
    if(i%2!=0):
        sum=sum+i
print(sum)

25

In [23]:
#Write the program to print a multiplication table of given number
num=5
mul=0
for i in range(1,11,1):
    print(num,"x",i,"=",num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [26]:
#Write the program to display numbers from list using loop
list=[1,2,4,6,88,125]
for i in list:
    print(i)

1
2
4
6
88
125

In [32]:
#WAP to count the total number of digits in a number
num=129475
count=0
num=str(num)
for i in num:
    count=count+1
print(count)

6

In [35]:
#WAP to check if the given string is a palindrome
string="madam"
reverse=""
for i in string:
    reverse=i+reverse
if(string==reverse):
    print("string is palindrone")
else:
    print("string is not palindrone")

string is palindrone

In [38]:
#WAP that accepts a word from the user and reverses it
num=input("enter the number")
reverse=""
for i in num:
    
    reverse = i+reverse
print(reverse)

enter the number 1234

4321

In [47]:
#WAP to check if a given number is an armstrong number
num=153
num=str(num)
string_len=len(num)
sum=0
for i in num:
    sum=sum+int(i)**string_len
if(int(num)==sum):
    print("the num is armstrong")
else:
    print("the num is not armstrong")

the num is armstrong

In [50]:
#WAP to count the number of even and odd numbers from a series of number
list=[1,2,3,4,5,6,7]
count=0
for i in list:
    if(i%2==0):
        print(i,"even numbers")
    else:
        print(i,"odd numbers")

1 odd numbers
2 even numbers
3 odd numbers
4 even numbers
5 odd numbers
6 even numbers
7 odd numbers

In [ ]:
#WAp to display all numbers within a range except the prime number