In [1]:
#Generate a list of character from a string 
string='Hello,World'
char=[char for char in string if char.isalpha()]
print(char)

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [2]:
#Square from 1 to 10
sq=[i**2 for i in range(1,11)]
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
#Create the list of even number from 1 to 20
even=[i for i in range(1,21)if i%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
#Create the list of lengths of words 
list=['sejal','jayesh','shreyash']
length=[len(word) for word in list ]
print(length)

[5, 6, 8]

In [14]:
#Generate the list of tuple containing a number and its square
tuple=[(num,num**2) for num in range(1,6)]
print(tuple)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [16]:
#Create a list of lowercase letters
lower_case=[chr(x)for x in range(ord('a'),ord('z')+1)]
print(lower_case)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [56]:
#Create a list of Uppercase letters
upper_case=[chr(x)for x in range(ord('A'),ord('Z')+1)]
print(upper_case)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [57]:
#Create a list of even numbers squared and odd numbers cubed from 1 to 10
list=[i**2 if i%2==0 else i**3 for i in range(1,11) ]
print(list)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [58]:
#create a list of common multiple of 3 and 5
multiple=[i for i in range(1,100) if i%3==0 and i%5==0]
print(multiple)

[15, 30, 45, 60, 75, 90]

In [59]:
#create the list of reversed string from another list
list=['apple','banana','cherry']
reverse=[i[::-1] for i in list]
print(reverse)

['elppa', 'ananab', 'yrrehc']

In [60]:
#Generate the list square of even numbers and cubes of odd numbers from -5 to 5
list=[i**2 if i%2==0 else i**3 for i in range(-5,5)]
print(list)

[-125, 16, -27, 4, -1, 0, 1, 4, 27, 16]

In [61]:
#generate the list of string with the lengths from another list
list=['sejal','jayesh','alex']
length=[(word,len(word)) for word in list]
print(length)

[('sejal', 5), ('jayesh', 6), ('alex', 4)]

In [62]:
#create the list of first character from a list of words
list=['sejal','jayesh','alex']
char=[word[0] for word in list]
print(char)

['s', 'j', 'a']

In [65]:
#Creating the list of a uppercase words from sentence
sentence="This is a sample sentence"
uppercase=[word.upper() for word in sentence.split()]
print(uppercase)

['THIS', 'IS', 'A', 'SAMPLE', 'SENTENCE']

In [69]:
#Creating the list of a lowercase words from sentence
sentence="This is A Sample Sentence"
lowercase=[word.lower() for word in sentence.split()]
print(lowercase)

['this', 'is', 'a', 'sample', 'sentence']